{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block content %}
<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md"> 
    <h2 class="text-center text-3xl font-extrabold text-gray-900">are you sure to logout</h2> 

    <form class="mt-8 space-y-6"  method="post" action="{% url 'logout' %}">
        {% csrf_token %}
            <div class="rounded-md shadow-sm -space-y-px">
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                
                    {% for fm in form%}
                        {{fm.label_tag}}
                        {{fm}}
                        {{fm.errors|striptags}}
                    {% endfor %}
                    
            </div>  
            <button type="submit">Logout</button> 
    </form>
  </div>
</div>
{% endblock %}
